@import "~style/variables";

.footer {
  height: 9rem;
  padding: 2rem;
  border-top: 1px solid $gray-dark;
  text-align: center;
  background-color: $background-medium;
}

.title {
  text-transform: uppercase;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  color: $primary;
  animation: slideFromRight 0.2s linear;
}

.station {
  animation: slideFromLeft 0.2s linear;
}

@keyframes slideFromRight {
  0% {
    transform: scaleX(0.1);
    transform-origin: right;
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes slideFromLeft {
  0% {
    transform: scaleX(0.1);
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
  }
}
