@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

// COLORS

$white: #ffffff;
$primary: #edad60;
$gray: #a3acbe;
$gray-dark: #4d505c;

$background-dark: #20202b;
$background-medium: #22222b;
$background-light: #2f2f3a;

// FONTS

$font-family: "Roboto", sans-serif;
$font-size-medium: 2.6rem;
$font-size-small: 1.5rem;

$font-weight-medium: 400;
$font-weight-bold: 700;
