@import "~style/variables";

.station {
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  :first-child {
    margin-right: 1rem;
  }
}

.bold {
  font-weight: $font-weight-bold;
}

.expanded {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  animation: expandFromBottom 0.2s linear;
}

.img {
  width: 12rem;
  height: 12rem;
  border: 2px solid $gray;
  border-radius: 50%;
}

@keyframes expandFromBottom {
  0% {
    transform: scaleY(0.1);
    transform-origin: bottom;
    opacity: 0;
  }
  20% {
    transform: scaleY(0.2);
    opacity: 0.4;
  }
  40% {
    transform: scaleY(0.4);
    opacity: 0.8;
  }
  60% {
    transform: scaleY(0.6);
    opacity: 1;
  }
  80% {
    transform: scaleY(0.8);
  }
  100% {
    transform: scaleY(1);
  }
}
