@import "~style/variables";

.info {
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.list {
  list-style-type: none;
}

.listItem {
  padding: 1.3rem 0;

  &:not(:last-child) {
    border-bottom: 1px solid $gray-dark;
  }
}
